.form-container{
    margin: 20px auto;
    width: 400px;
    height: 500px;
    
    background: rgb(237, 135, 80);
    border: 1px solid rgb(222, 139, 16);
    border-radius: 8px;
}
.form-title{
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: darkslategrey;
}
.form-control label{
    display: block;
    margin: 0 10px;
    
}